body, html {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: "Dax-Bold", Gravity;
}

.navTop {
    margin-left: 10px;
    padding: 0;
    z-index: 1;
    color: white;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav h1 {
  text-align: center;
  margin: 5px;
  color: #818181;
  font-family: satisfy;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.headshot img {
  border-radius: 250px;
  border: 1px solid white;
}


.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

.main {
  margin-left: 250px;
}

.header {
/*  display: flex; - prevents the hover*/
  flex-wrap: wrap;
}

.column {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  z-index: -1;
  position: relative;
}

.column img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-top: -70px;
  left: 0;
  opacity: 1;
  display: block;
  width: 100%;
  backface-visibility: hidden;
  transition: 0.3s ease;
}

.column img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: 0.3s ease;
  cursor: pointer;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* On smaller screens, where height is less than 850px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 800px) {
  .sidenav {
    padding-top: 45px;
  }

  .sidenav a {
    font-size: 28px;
  }

  .sidenav a:active {
      -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  }

  .column {
    flex: 100%;
    max-width: 100%;
    min-height: 150px;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-wrap: wrap;
  }
}










