body, html {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: "Dax-Bold", Gravity;
  background-color: #272a32;
}

* {
  box-sizing: border-box;
}

.navTop {
    margin-left: 10px;
    padding: 0;
    z-index: 1;
    color: #fff;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav h1 {
  text-align: center;
  margin: 5px;
  color: #818181;
  font-family: satisfy;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.headshot img {
  border-radius: 250px;
  border: 1px solid white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

.main {
  margin-left: 250px;
}

.bio {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0em 5em;
  line-height: 2;
  font-size: 18px;
}

.row {
  margin-left: 4em;
  margin-top: -70px;
}

.column {
  float: left;
  padding: 10px;
  height: auto;
  font-family: "Dax-bold", Gravity;
  color: white;
}

.column img {
  margin-top: 1.5em;
}

.left {
  margin-top: 5em;
  margin-right: 8em;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding-left: 20px;
  padding-bottom: 0;
}

.left h2 {
  color: #818181;
}

.left h4 {
  color: white;
}

.middle {
  width: 58.5%;
  padding-top: 4em;
  margin: auto;
}

.middle img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

span {
  color: #818181;
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 14px 18px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}



@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}






/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



@media screen and (max-width: 930px) {

  .column {
    width: 100%;
    text-align: left;
    font-size: 1.4em;
    height: auto;
  }

  .middle, .left {
    margin-left: -5vw;
    padding-top: 1em;
  }

  .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  }

  .prev {
    left: 0;
  }

}


